<h1>Commands</h1>
<h2>Previously run commands</h2>
<hr />
<div id="commands">
    <div>
        <%= @command.uuid %><br />
        <%= @command.name %>---<%= @command.status %>
        <hr />
        <%= @command.stdout %>
        <hr />
        <%= @command.exit_code %>   
      </a>
    </div>
</div>
