<div id="<%= dom_id command_config %>" class="text-center">
  <div>
    <strong>Name:</strong>
    <%= command_config.name %>
  </div>

  <div>
    <strong>Args:</strong>
    <%= command_config.args %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= command_config.notes %>
  </div>

  <div>
    <strong>Priority:</strong>
    <%= command_config.priority %>
  </div>

  <div>
    <strong>Created at:</strong>
    <%= command_config.created_at %>
  </div>

</div>
