<p style="color: green"><%= notice %></p>

<% content_for :title, "Command configs" %>

<h1 class="text-center">Configurations</h1>

<div class="d-flex aligns-items-center justify-content-center card text-center w-75 mx-auto">
   <% @command_configs.each do |command_config| %>
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="true" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Priority: <%= command_config.priority %></a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>-->
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%=command_config.name%></h5>
      <p class="card-text"><%=command_config.args%></p>
      <a href="#" class="btn btn-primary">DEPLOY</a>
    </div>
    <% end %>
  </div>
  <br />
  <div class="text-center">
      <%= link_to "Register New Command", new_command_config_path %>
  </div>