<div class="text-center">
<p style="color: green"><%= notice %></p>
</div>

<div class="text-center">
<%= render @command_config %>
</div>

<div class="text-center">
  <%= link_to "Edit this command config", edit_command_config_path(@command_config) %> |
  <br />
  <%= link_to "Back to command configs", command_configs_path %>
  <br />
  <%= button_to "Destroy this command config", @command_config, method: :delete %>
</div>
